  <section class="user-Details" id="users">

                                          
                                         <div class="container-fluid" ng-controller="UserController">
                                            <div class="page-title" id="">
                                             
                                                <h2>User 
                                                  <span class="pull-right">
                                                    <a href="#/users/new" class="btn colour ">
                                                     Add User <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </a>
                                                </span>
                                               </h2> 
                                             
                                            </div>
                                            <div class="page">
                                              <table class="table white-background">
                                                <thead class="colour">
                                                  <tr>
                                                    <th></th>
                                                    <th> NAME </th>
                                                    <th> EMAIL </th>
                                                    <th> CITY </th>
                                                    <th> COMPANY </th>
                                                  </tr>

                                                </thead>
                                                <tbody >
                                                  <!-- <tr>
                                                    <td ><img class="dp img-circle" src="lib/images/egen-logo.png"/></td>
                                                    <td>{{sample.name}}</td>
                                                    <td>{{sample.email}}</td>
                                                    <td>{{sample.city}}</td>
                                                    <td>{{sample.company}}</td>
                                                  </tr>
                                                  <tr>
                                                    <td ><img class="dp" src="lib/images/egen-logo.png"/></td>
                                                    <td>{{sample.name}}</td>
                                                    <td>{{sample.email}}</td>
                                                    <td>{{sample.city}}</td>
                                                    <td>{{sample.company}}</td>
                                                  </tr>
                                                  <tr>
                                                    <td ><img class="dp" src="lib/images/egen-logo.png"/></td>
                                                    <td>{{sample.name}}</td>
                                                    <td>{{sample.email}}</td>
                                                    <td>{{sample.city}}</td>
                                                    <td>{{sample.company}}</td>
                                                  </tr> -->
                                                  <tr ng-repeat='user in users'>
                                                    <td>
                                                      <a href="#/users/{{user.id}}/view " ng-click="getUsers()">
                                                        <img src="{{user.profilePic}}" class=" dp" ng-click="getUsers()">
                                                      </a>
                                                    </td>
                                                    <td>
                                                      <a href="#/users/{{user.id}}/view" ng-click='getUsers()'>{{user.firstName}} {{user.lastName}}</a>
                                                    </td>
                                                    <td>{{user.email}}</td>
                                                    <td>{{user.address.city}}</td>
                                                    <td>{{user.company.name}}</td>
                                                  
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>

                                        </section>